@import url("https://fonts.googleapis.com/css?family=Roboto");

.App {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#MapContainer {
  height: 400px;
  width: 100%;
  padding: 5px;
  margin: 5px;
}

#RatInfo {
  margin: 5px;
  padding: 5px;
  border-style: outset;
}

.App-title {
  border-style: outset;
  /* width: 25%; */
  font-size: 1.5em;
  padding: 5px;
}
