@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic");

body {
  background-color: #f9f7f1;
  font-family: "Droid Serif", serif;
  font-size: 14px;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-title {
  font-size: 4em;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  text-transform: uppercase;
}

#map-container {
  height: 400px;
  width: 50%;
  padding: 5px;
  margin: 5px;
}

#rat-info {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  width: 50%;
  line-height: 1.6;
  font-size: 1.5em;
  margin: 5px;
  padding: 5px;
}

@media (max-width: 480px) {
  #map-container {
    width: 100%;
  }
  #rat-info {
    width: 100%;
  }
}
